* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  :root {
    font-size: 62,5%;
  }
  
  body {
    height: 100%;
    color: #e5e7eb;
  }
  header {
    display:flex;
    align-items: center;
    height: 15vh;
    background-color: blueviolet;
    gap: 15px;
    padding-left: 20px;
  }
  .cabecalho{
    height: 60%;
  }
  main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 30px;
    gap: 10px;
    height:75vh;
    /* flex-grow: 1; */
    background-color: #475569;
  }
  footer {
    height: 10vh;
    /* flex-grow: 2; */
    background-color: #1e293b;
  }